<section class="align-content-center pt-5">
  <div class="container">
    <div
      class="d-flex align-items-center title justify-content-between w-50 text-start mx-auto animate__animated animate__fadeInDown"
    >
      <i class="fa-solid fa-book-open icon"></i>
      <h1 class="fw-bold ps-5">نتيجة الصف الأول الابتدائي</h1>
    </div>
    <form
      class="mx-auto mt-4 animate__animated animate__fadeInUp w-50"
      (ngSubmit)="searchStudent()"
    >
      <label class="form-label" for="studetName">اسم الطالب</label>
      <input
        class="form-control py-3 px-3"
        id="studetName"
        type="text"
        [(ngModel)]="studentName"
        name="studentName"
        placeholder="أدخل اسم الطالب ثلاثي"
        required
      />
      <button class="btn btn-success my-3 py-3 px-5 fw-bolder" type="submit">
        إعرض النتيجة
      </button>

      <div class="text-center w-100">
        <p class="fw-medium fs-5 m-0">تحت إشراف رئيس الكنترول</p>
        <p class="fw-medium fs-5 m-0">أستاذ عماد وجيه</p>
      </div>
    </form>
    <div *ngIf="selectedStudent" class="mt-5">
      <table class="table table-bordered text-end w-50 mx-auto">
        <tr>
          <td colspan="2" class="border-0 pb-3 fw-bold">
            الاسم: {{ selectedStudent.name }}
          </td>
        </tr>
        <tr>
          @if (selectedStudent.arabic == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.arabic == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.arabic == 'يفوق التوقعات دائماً' ||
          selectedStudent.arabic == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.arabic == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.arabic }}</td>
          <td>اللغة العربية</td>
        </tr>
        <tr>
          @if (selectedStudent.english == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.english == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.english == 'يفوق التوقعات دائماً' ||
          selectedStudent.english == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.english == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.english }}</td>
          <td>اللغة الإنجليزية</td>
        </tr>
        <tr>
          @if (selectedStudent.math == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.math == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.math == 'يفوق التوقعات دائماً' ||
          selectedStudent.math == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.math == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.math }}</td>
          <td>الرياضيات</td>
        </tr>
        <tr>
          @if (selectedStudent.interdisciplinary == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.interdisciplinary == 'يلبى التوقعات
          أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.interdisciplinary == 'يفوق التوقعات دائماً'
          || selectedStudent.interdisciplinary == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.interdisciplinary == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.interdisciplinary }}</td>
          <td>المادة البينية</td>
        </tr>
        <tr>
          @if (selectedStudent.physical_education == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.physical_education == 'يلبى التوقعات
          أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.physical_education == 'يفوق التوقعات
          دائماً' || selectedStudent.physical_education == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.physical_education == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.physical_education }}</td>
          <td>التربية الرياضية</td>
        </tr>
        <tr>
          @if (selectedStudent.religion == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.religion == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.religion == 'يفوق التوقعات دائماً' ||
          selectedStudent.religion == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.religion == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.religion }}</td>
          <td>التربية الدينية</td>
        </tr>
        <tr>
          @if (selectedStudent.values == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.values == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.values == 'يفوق التوقعات دائماً' ||
          selectedStudent.values == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.values == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.values }}</td>
          <td>القيم</td>
        </tr>
        <tr>
          @if (selectedStudent.tokkatsu == 'يلبى التوقعات') {
          <td class="bg-success"></td>
          } @else if (selectedStudent.tokkatsu == 'يلبى التوقعات أحياناً') {
          <td class="bg-warning gradeColor"></td>
          }@else if (selectedStudent.tokkatsu == 'يفوق التوقعات دائماً' ||
          selectedStudent.tokkatsu == 'اجتاز') {
          <td class="bg-primary gradeColor"></td>
          } @else if (selectedStudent.tokkatsu == 'أقل من المتوقع') {
          <td class="bg-danger gradeColor"></td>
          }@else {
          <td class="bg-white gradeColor"></td>
          }
          <td class="p-3">{{ selectedStudent.tokkatsu }}</td>
          <td>التوكاتسو</td>
        </tr>
        <tr>
          <td class=""></td>
          <td class="p-3 fw-bold">{{ selectedStudent.result }}</td>
          <td class="fw-bold">النتيجة</td>
        </tr>
      </table>
    </div>
    <div
      *ngIf="
        (selectedStudent === null && studentName) || selectedStudent === null
      "
      class="text-danger text-center mt-3"
    >
      تأكد من الاسم وحاول مرة أخرى.
    </div>
  </div>
</section>
