<section class="text-center align-content-center">
  <div class="container">
    <h1 class="fw-bolder animate__animated animate__fadeInDown">
      نتيجة الصفوف الدراسية
    </h1>
    <div
      class="boxes rounded-3 shadow bg-white text-center mx-auto my-5 p-3 animate__animated animate__fadeInUp"
    >
      <div class="box box1 p-3 d-flex justify-content-between">
        <h5 class="align-content-center text-white rounded-3 px-4 py-0">
          <a routerLink="/firstGrade" class="text-white"
            >نتيجة الصف الأول الابتدائي</a
          >
        </h5>
        <img
          src="images/student.png"
          class="rounded-circle"
          width="90"
          alt=""
        />
      </div>
      <div class="box box2 p-3 d-flex justify-content-between">
        <h5 class="align-content-center text-white rounded-3 px-4 py-0">
          <a routerLink="/thirdGrade" class="text-white"
            >نتيجة الصف الثالث الابتدائي</a
          >
        </h5>
        <img
          src="images/student.png"
          class="rounded-circle"
          width="90"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
